<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>ValidadorServlet</display-name>
    <servlet-name>ValidadorServlet</servlet-name>
    <servlet-class>controlador.ValidadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidadorServlet</servlet-name>
    <url-pattern>/ValidadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidadorServ</display-name>
    <servlet-name>ValidadorServ</servlet-name>
    <servlet-class>controlador.ValidadorServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidadorServ</servlet-name>
    <url-pattern>/ValidadorServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidadorServlet2</display-name>
    <servlet-name>ValidadorServlet2</servlet-name>
    <servlet-class>controlador.ValidadorServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidadorServlet2</servlet-name>
    <url-pattern>/ValidadorServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServlet</display-name>
    <servlet-name>GenericServlet</servlet-name>
    <servlet-class>javax.servlet.GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServlet</servlet-name>
    <url-pattern>/GenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validador</display-name>
    <servlet-name>Validador</servlet-name>
    <servlet-class>controlador.Validador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validador</servlet-name>
    <url-pattern>/Validador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agendador</display-name>
    <servlet-name>Agendador</servlet-name>
    <servlet-class>controlador.Agendador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agendador</servlet-name>
    <url-pattern>/Agendador</url-pattern>
  </servlet-mapping>
</web-app>